<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

include helpers.pug

html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{$t.title}
        link(rel='stylesheet', href='resume.css',  type="text/css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
    main.resume-body
        header.center.flex-full
            div.inline
                div.left-header.flex-3
                    p(id="name")  
                        span.light= $t.me.first_name
                        span.bold= $t.me.last_name
                    h3.colorized(id="status")= $t.me.status
                    p(id="address")= $t.me.address

                .personnal-info.flex-list.right-header.flex-1
                    ul 
                        each item in $t.info
                            +info-item(item)
            hr
            p(id="summary")= $t.me.summary

        //- if $localeName.includes("fr_FR")
        //-     h1 
        //-         span.colorized= $t.sub.education.substr(0,3)
        //-         = $t.sub.education.substr(3)
        //-     each item in $t.education 
        //-         +education-item(item)
    
        div.flex-3.section(id="experiences")
            h1 
                span.colorized= $t.sub.experiences.substr(0,3)
                = $t.sub.experiences.substr(3)
            each item in $t.experience
                +content-item(item)

            if $t.publication
                h1
                    span.colorized= $t.sub.publications.substr(0,3)
                    = $t.sub.publications.substr(3)
                each item in $t.publication
                    +publication-item(item)    

        //- if $localeName == "en_EN"
        div.flex-1(id="right-panel")
            div.section
                h1 
                    span.colorized= $t.sub.education.substr(0,3)
                    = $t.sub.education.substr(3)
                each item in $t.education 
                        +education-item(item)
            div.section
                h1
                    span.colorized= $t.sub.languages.substr(0,3)
                    = $t.sub.languages.substr(3)
                each item in $t.languages 
                        +misc-item(item)
            div.section
                h1
                    span.colorized= $t.sub.hobbies.substr(0,3)
                    = $t.sub.hobbies.substr(3)
                each item in $t.interest 
                    +misc-item(item)
