<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

include helpers.pug

html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{$t.title}
        link(rel='stylesheet', href='/home/esilv/resume-markdown/build/resume.css',  type="text/css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
    main.resume-body
        header.center
            p(id="name")  
                span.light= $t.me.first_name
                span.bold= $t.me.last_name
            h3.colorized(id="status")= $t.me.status
            p(id="address")= $t.me.address

            .personnal-info.flex-list
                ul 
                    each item in $t.info
                        +info-item(item)
            
            p(id="summary")= $t.me.summary
        h1 
            span.colorized EDU
            | CATION
        each item in $t.education 
            +content-item(item)

        h1 
            span.colorized EXP
            | ERIENCE
        each item in $t.experience
            +content-item(item)

        h1
            span.colorized PRO
            | JECTS
        .inline
            each item in $t.projects
                +project-item(item)

        .misc
            .first-box
                h1
                    span.colorized LAN
                    | GUAGES
                each item in $t.languages 
                    +misc-item(item)
            .second-box
                h1
                    span.colorized INT
                    | EREST
                each item in $t.interest 
                    +misc-item(item)